body {
    background-color: rgb(36, 36, 36);
}

li {
    color: antiquewhite;
}

h1 {
    font-size: 2.00rem;
    color: antiquewhite;
    text-align: center;
}

a {
    color: antiquewhite;
    font-size: 1.50rem;
    text-decoration: none;
}

a:hover {
    color: rgba(144, 255, 255, 0.788);
    transition: 400ms all ease-in-out;
    font-size: 1.55rem;
    background-color: rgb(68, 68, 68);
}